.banner {
  background-image: url("/images/mensuales.jpg");
}

gr {
  color: green;
  font-weight: bold;
}

.card a {
  font-size: 1.4em;
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  padding: 0.4em;
}

.card a:hover {
  background-color: #000;
  color: #fff;
}

@media (min-width: 1082px) {
  .banner {
    height: 40em;
  }

  .banner h3 {
    font-size: 4.5em;
  }
}
