.banner {
  background-image: url("/images/futbol.jpg");
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  width: auto;
  font-size: 1.5em;
}

.card {
  margin: 1em 2em;
  background-image: url("/images/futbol-picks.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 2px 2px #000;
}

@media (min-width: 1082px) {
  .banner {
    height: 40em;
  }

  .banner h3 {
    font-size: 4.5em;
  }
}
